.container {
  display: flex;
  flex-flow: column nowrap;
}

main {
  padding: 20px;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #ffffff;
  background-color: #4832c2;
}

html {
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.footer-link {
  color: #ffffff;
}