.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  height: 100vh;
}

main {
  padding: 0 20px;
}

header, footer {
  padding: 20px;
  color: #ffffff;
  background-color: #4832c2;
}

body, h1 {
  margin: 0;
  padding: 0;
}

.container > header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  color: #ffffff;
}