<div class="news-item">
  <div class="news-item__title">
    {{model.title}}
  </div>
  <div class="news-item__img" [style.background-image]="sanitizeImg(model.image)">
  </div>
  <div class="news-item__body">
    {{model.description}}
  </div>
  <div class="news-item__actions">
    <a *ngIf="model.isInternal" mat-raised-button color="accent" [routerLink]="['news', model.id]">View</a>
    <a *ngIf="model.isExternal" mat-raised-button color="accent" [href]="model.externalUrl">View</a>
    <a *ngIf="canEdit(model)" mat-raised-button color="accent" [routerLink]="['news', model.id, 'edit']">Edit</a>
  </div>
</div>